@font-face {
  font-family: 'overpass';
  src: url('overpass-thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('overpass-thin.woff') format('woff');
       font-weight: 200;
       font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('overpass-extralight.woff2') format('woff2'),
       url('overpass-extralight.woff') format('woff');
       font-weight: 300;
       font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('overpass-light.woff2') format('woff2'),
       url('overpass-light.woff') format('woff');
       font-weight: 400;
       font-style: normal;
}